.carbons-transition {
  transition-duration: var(--transition-duration, 0.15s);
  transition-timing-function: var(--transition-timing-function, ease-in-out);
}

/* if setting prefers-reduced-motion: reduced */
@media (prefers-reduced-motion: reduced) {
  .carbons-transition {
    transition-duration: 0s !important;
  }
}

.carbons {
  &-mini {
    padding: var(--mini-padding);
    line-height: 1.667;
    font-size: 12px;
  }

  &-small {
    padding: var(--small-padding);
    line-height: 1.5715;
    font-size: 14px;
  }

  &-medium {
    padding: var(--medium-padding);
    line-height: 1.5715;
    font-size: 14px;
  }

  &-large {
    padding: var(--large-padding);
    line-height: 1.8;
    font-size: 16px;
  }

  &-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-width-full {
    width: 100%;
  }

  &-height-full {
    height: 100%;
  }

  &-inline-flex {
    display: inline-flex;
  }

  &-vertical-top {
    vertical-align: top;
  }

  &-vertical-middle {
    vertical-align: middle;
  }

  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}
