.c-input {
  background-color: var(--input-background-color, var(--shadow-gray));

  &--prepend {
    box-sizing: inherit;
    border-right: 1px dashed var(--border-color);
  }

  &--append {
    box-sizing: inherit;
    border-left: 1px dashed var(--border-color);
  }
}

@media (any-hover: hover) {
  .c-input--inner:not([disabled], [readonly]):hover {
    background-color: var(--input-background-color-hover, var(--hover-state-color));
  }
}

.c-input--inner {
  min-width: 8rem;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 2px solid transparent;
  background-color: transparent;
  transition-property: border-color, background-color, outline-color, outline-offset;
  font-family: inherit;

  &:not([disabled], [readonly]):focus {
    outline-color: var(--color-primary-focus, var(--primary-6));
    border-color: var(--color-primary-focus, var(--primary-6));
    background-color: var(--input-background-color-focus, var(--white-color));
  }

  &::placeholder {
    color: #b6b6b6;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
