:root {
  --radius: 0.5rem;

  --background-100: #fff;
  --background-200: #f8f8f8;

  /* --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111; */

  --gray-alpha-100: hsla(0, 0%, 0%, 0.05);
  --gray-alpha-200: hsla(0, 0%, 0%, 0.08);
  --gray-alpha-300: hsla(0, 0%, 0%, 0.12);
  --gray-alpha-400: hsla(0, 0%, 0%, 0.17);
  --gray-alpha-500: hsla(0, 0%, 0%, 0.21);
  --gray-alpha-600: hsla(0, 0%, 0%, 0.34);
  --gray-alpha-700: hsla(0, 0%, 0%, 0.44);
  --gray-alpha-800: hsla(0, 0%, 0%, 0.51);
  --gray-alpha-900: hsla(0, 0%, 0%, 0.61);
  --gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

  --gray-100-value: 0, 0%, 95%;
  --gray-200-value: 0, 0%, 93%;
  --gray-300-value: 0, 0%, 90%;
  --gray-400-value: 0, 0%, 85%;
  --gray-500-value: 0, 0%, 79%;
  --gray-600-value: 0, 0%, 66%;
  --gray-700-value: 0, 0%, 56%;
  --gray-800-value: 0, 0%, 49%;
  --gray-900-value: 0, 0%, 40%;
  --gray-1000-value: 0, 0%, 9%;

  --blue-100-value: 212, 100%, 97%;
  --blue-200-value: 210, 100%, 96%;
  --blue-300-value: 210, 100%, 94%;
  --blue-400-value: 209, 100%, 90%;
  --blue-500-value: 209, 100%, 80%;
  --blue-600-value: 208, 100%, 66%;
  --blue-700-value: 212, 100%, 48%;
  --blue-800-value: 212, 100%, 41%;
  --blue-900-value: 211, 100%, 42%;
  --blue-1000-value: 211, 100%, 15%;

  --red-100-value: 0, 100%, 97%;
  --red-200-value: 0, 100%, 96%;
  --red-300-value: 0, 100%, 95%;
  --red-400-value: 0, 90%, 92%;
  --red-500-value: 0, 82%, 85%;
  --red-600-value: 359, 90%, 71%;
  --red-700-value: 358, 75%, 59%;
  --red-800-value: 358, 70%, 52%;
  --red-900-value: 358, 66%, 48%;
  --red-1000-value: 355, 49%, 15%;

  --amber-100-value: 39, 100%, 95%;
  --amber-200-value: 44, 100%, 92%;
  --amber-300-value: 43, 96%, 90%;
  --amber-400-value: 42, 100%, 78%;
  --amber-500-value: 38, 100%, 71%;
  --amber-600-value: 36, 90%, 62%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 30, 100%, 32%;
  --amber-1000-value: 20, 79%, 17%;

  --green-100-value: 120, 60%, 96%;
  --green-200-value: 120, 60%, 95%;
  --green-300-value: 120, 60%, 91%;
  --green-400-value: 122, 60%, 86%;
  --green-500-value: 124, 60%, 75%;
  --green-600-value: 125, 60%, 64%;
  --green-700-value: 131, 41%, 46%;
  --green-800-value: 132, 43%, 39%;
  --green-900-value: 133, 50%, 32%;
  --green-1000-value: 128, 29%, 15%;

  --teal-100-value: 169, 70%, 96%;
  --teal-200-value: 167, 70%, 94%;
  --teal-300-value: 168, 70%, 90%;
  --teal-400-value: 170, 70%, 85%;
  --teal-500-value: 170, 70%, 72%;
  --teal-600-value: 170, 70%, 57%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 91%, 25%;
  --teal-1000-value: 171, 80%, 13%;

  --purple-100-value: 276, 100%, 97%;
  --purple-200-value: 277, 87%, 97%;
  --purple-300-value: 274, 78%, 95%;
  --purple-400-value: 276, 71%, 92%;
  --purple-500-value: 274, 70%, 82%;
  --purple-600-value: 273, 72%, 73%;
  --purple-700-value: 272, 51%, 54%;
  --purple-800-value: 272, 47%, 45%;
  --purple-900-value: 274, 71%, 43%;
  --purple-1000-value: 276, 100%, 15%;

  --pink-100-value: 330, 100%, 96%;
  --pink-200-value: 340, 90%, 96%;
  --pink-300-value: 340, 82%, 94%;
  --pink-400-value: 341, 76%, 91%;
  --pink-500-value: 340, 75%, 84%;
  --pink-600-value: 341, 75%, 73%;
  --pink-700-value: 336, 80%, 58%;
  --pink-800-value: 336, 74%, 51%;
  --pink-900-value: 336, 65%, 45%;
  --pink-1000-value: 333, 74%, 15%;

  font-family: Inter, Geist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--background-100);
  color: hsl(var(--gray-1000-value));
}

:root.dark {
  --background-100: #121212;
  --background-200: #000;

  /* --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa; */

  --gray-100-value: 0, 0%, 10%;
  --gray-200-value: 0, 0%, 12%;
  --gray-300-value: 0, 0%, 16%;
  --gray-400-value: 0, 0%, 18%;
  --gray-500-value: 0, 0%, 27%;
  --gray-600-value: 0, 0%, 53%;
  --gray-700-value: 0, 0%, 56%;
  --gray-800-value: 0, 0%, 49%;
  --gray-900-value: 0, 0%, 63%;
  --gray-1000-value: 0, 0%, 93%;

  --blue-100-value: 216, 50%, 12%;
  --blue-200-value: 214, 59%, 15%;
  --blue-300-value: 213, 71%, 20%;
  --blue-400-value: 212, 78%, 23%;
  --blue-500-value: 211, 86%, 27%;
  --blue-600-value: 206, 100%, 50%;
  --blue-700-value: 212, 100%, 48%;
  --blue-800-value: 212, 100%, 41%;
  --blue-900-value: 210, 100%, 66%;
  --blue-1000-value: 206, 100%, 96%;

  --red-100-value: 357, 37%, 12%;
  --red-200-value: 357, 46%, 16%;
  --red-300-value: 356, 54%, 22%;
  --red-400-value: 357, 55%, 26%;
  --red-500-value: 357, 60%, 32%;
  --red-600-value: 358, 75%, 59%;
  --red-700-value: 358, 75%, 59%;
  --red-800-value: 358, 69%, 52%;
  --red-900-value: 358, 100%, 69%;
  --red-1000-value: 353, 90%, 96%;

  --amber-100-value: 35, 100%, 8%;
  --amber-200-value: 32, 100%, 10%;
  --amber-300-value: 33, 100%, 15%;
  --amber-400-value: 35, 100%, 17%;
  --amber-500-value: 35, 91%, 22%;
  --amber-600-value: 39, 85%, 49%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 39, 90%, 50%;
  --amber-1000-value: 40, 94%, 93%;

  --green-100-value: 136, 50%, 9%;
  --green-200-value: 137, 50%, 12%;
  --green-300-value: 136, 50%, 14%;
  --green-400-value: 135, 70%, 16%;
  --green-500-value: 135, 70%, 23%;
  --green-600-value: 135, 70%, 34%;
  --green-700-value: 131, 41%, 46%;
  --green-800-value: 132, 43%, 39%;
  --green-900-value: 131, 43%, 57%;
  --green-1000-value: 136, 73%, 94%;

  --teal-100-value: 169, 78%, 7%;
  --teal-200-value: 170, 74%, 9%;
  --teal-300-value: 171, 75%, 13%;
  --teal-400-value: 171, 85%, 13%;
  --teal-500-value: 172, 85%, 20%;
  --teal-600-value: 172, 85%, 32%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 90%, 41%;
  --teal-1000-value: 166, 71%, 93%;

  --purple-100-value: 283, 30%, 12%;
  --purple-200-value: 281, 38%, 16%;
  --purple-300-value: 279, 44%, 23%;
  --purple-400-value: 277, 46%, 28%;
  --purple-500-value: 274, 49%, 35%;
  --purple-600-value: 272, 51%, 54%;
  --purple-700-value: 272, 51%, 54%;
  --purple-800-value: 272, 47%, 45%;
  --purple-900-value: 275, 80%, 71%;
  --purple-1000-value: 281, 73%, 96%;

  --pink-100-value: 335, 32%, 12%;
  --pink-200-value: 335, 43%, 16%;
  --pink-300-value: 335, 47%, 21%;
  --pink-400-value: 335, 51%, 22%;
  --pink-500-value: 335, 57%, 27%;
  --pink-600-value: 336, 75%, 40%;
  --pink-700-value: 336, 80%, 58%;
  --pink-800-value: 336, 74%, 51%;
  --pink-900-value: 341, 90%, 67%;
  --pink-1000-value: 333, 90%, 96%;

  --gray-alpha-100: hsla(0, 0%, 100%, .06);
  --gray-alpha-200: hsla(0, 0%, 100%, .09);
  --gray-alpha-300: hsla(0, 0%, 100%, .13);
  --gray-alpha-400: hsla(0, 0%, 100%, .14);
  --gray-alpha-500: hsla(0, 0%, 100%, .24);
  --gray-alpha-600: hsla(0, 0%, 100%, .51);
  --gray-alpha-700: hsla(0, 0%, 100%, .54);
  --gray-alpha-800: hsla(0, 0%, 100%, .47);
  --gray-alpha-900: hsla(0, 0%, 100%, .61);
  --gray-alpha-1000: hsla(0, 0%, 100%, .92);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

* {
  border-color: hsl(var(--gray-300-value));
}
