:root {
  --p-background-100: #fff;
  --p-background-200: #fafafa;

  --p-gray-alpha-100: rgba(0, 0, 0, .05);
  --p-gray-alpha-200: rgba(0, 0, 0, .08);
  --p-gray-alpha-300: rgba(0, 0, 0, .1);
  --p-gray-alpha-400: rgba(0, 0, 0, .08);
  --p-gray-alpha-500: rgba(0, 0, 0, .21);
  --p-gray-alpha-600: rgba(0, 0, 0, .34);
  --p-gray-alpha-700: rgba(0, 0, 0, .44);
  --p-gray-alpha-800: rgba(0, 0, 0, .51);
  --p-gray-alpha-900: rgba(0, 0, 0, .61);
  --p-gray-alpha-1000: rgba(0, 0, 0, .91);

  --p-gray-100: hsla(var(--p-gray-100-value), 1);
  --p-gray-200: hsla(var(--p-gray-200-value), 1);
  --p-gray-300: hsla(var(--p-gray-300-value), 1);
  --p-gray-400: hsla(var(--p-gray-400-value), 1);
  --p-gray-500: hsla(var(--p-gray-500-value), 1);
  --p-gray-600: hsla(var(--p-gray-600-value), 1);
  --p-gray-700: hsla(var(--p-gray-700-value), 1);
  --p-gray-800: hsla(var(--p-gray-800-value), 1);
  --p-gray-900: hsla(var(--p-gray-900-value), 1);
  --p-gray-1000: hsla(var(--p-gray-1000-value), 1);

  --p-blue-100: hsla(var(--p-blue-100-value), 1);
  --p-blue-200: hsla(var(--p-blue-200-value), 1);
  --p-blue-300: hsla(var(--p-blue-300-value), 1);
  --p-blue-400: hsla(var(--p-blue-400-value), 1);
  --p-blue-500: hsla(var(--p-blue-500-value), 1);
  --p-blue-600: hsla(var(--p-blue-600-value), 1);
  --p-blue-700: hsla(var(--p-blue-700-value), 1);
  --p-blue-800: hsla(var(--p-blue-800-value), 1);
  --p-blue-900: hsla(var(--p-blue-900-value), 1);
  --p-blue-1000: hsla(var(--p-blue-1000-value), 1);

  --p-amber-100: hsla(var(--p-amber-100-value), 1);
  --p-amber-200: hsla(var(--p-amber-200-value), 1);
  --p-amber-300: hsla(var(--p-amber-300-value), 1);
  --p-amber-400: hsla(var(--p-amber-400-value), 1);
  --p-amber-500: hsla(var(--p-amber-500-value), 1);
  --p-amber-600: hsla(var(--p-amber-600-value), 1);
  --p-amber-700: hsla(var(--p-amber-700-value), 1);
  --p-amber-800: hsla(var(--p-amber-800-value), 1);
  --p-amber-900: hsla(var(--p-amber-900-value), 1);
  --p-amber-1000: hsla(var(--p-amber-1000-value), 1);

  --p-red-100: hsla(var(--p-red-100-value), 1);
  --p-red-200: hsla(var(--p-red-200-value), 1);
  --p-red-300: hsla(var(--p-red-300-value), 1);
  --p-red-400: hsla(var(--p-red-400-value), 1);
  --p-red-500: hsla(var(--p-red-500-value), 1);
  --p-red-600: hsla(var(--p-red-600-value), 1);
  --p-red-700: hsla(var(--p-red-700-value), 1);
  --p-red-800: hsla(var(--p-red-800-value), 1);
  --p-red-900: hsla(var(--p-red-900-value), 1);
  --p-red-1000: hsla(var(--p-red-1000-value), 1);

  --p-green-100: hsla(var(--p-green-100-value), 1);
  --p-green-200: hsla(var(--p-green-200-value), 1);
  --p-green-300: hsla(var(--p-green-300-value), 1);
  --p-green-400: hsla(var(--p-green-400-value), 1);
  --p-green-500: hsla(var(--p-green-500-value), 1);
  --p-green-600: hsla(var(--p-green-600-value), 1);
  --p-green-700: hsla(var(--p-green-700-value), 1);
  --p-green-800: hsla(var(--p-green-800-value), 1);
  --p-green-900: hsla(var(--p-green-900-value), 1);
  --p-green-1000: hsla(var(--p-green-1000-value), 1);

  --p-teal-100: hsla(var(--p-teal-100-value), 1);
  --p-teal-200: hsla(var(--p-teal-200-value), 1);
  --p-teal-300: hsla(var(--p-teal-300-value), 1);
  --p-teal-400: hsla(var(--p-teal-400-value), 1);
  --p-teal-500: hsla(var(--p-teal-500-value), 1);
  --p-teal-600: hsla(var(--p-teal-600-value), 1);
  --p-teal-700: hsla(var(--p-teal-700-value), 1);
  --p-teal-800: hsla(var(--p-teal-800-value), 1);
  --p-teal-900: hsla(var(--p-teal-900-value), 1);
  --p-teal-1000: hsla(var(--p-teal-1000-value), 1);

  --p-purple-100: hsla(var(--p-purple-100-value), 1);
  --p-purple-200: hsla(var(--p-purple-200-value), 1);
  --p-purple-300: hsla(var(--p-purple-300-value), 1);
  --p-purple-400: hsla(var(--p-purple-400-value), 1);
  --p-purple-500: hsla(var(--p-purple-500-value), 1);
  --p-purple-600: hsla(var(--p-purple-600-value), 1);
  --p-purple-700: hsla(var(--p-purple-700-value), 1);
  --p-purple-800: hsla(var(--p-purple-800-value), 1);
  --p-purple-900: hsla(var(--p-purple-900-value), 1);
  --p-purple-1000: hsla(var(--p-purple-1000-value), 1);

  --p-pink-100: hsla(var(--p-pink-100-value), 1);
  --p-pink-200: hsla(var(--p-pink-200-value), 1);
  --p-pink-300: hsla(var(--p-pink-300-value), 1);
  --p-pink-400: hsla(var(--p-pink-400-value), 1);
  --p-pink-500: hsla(var(--p-pink-500-value), 1);
  --p-pink-600: hsla(var(--p-pink-600-value), 1);
  --p-pink-700: hsla(var(--p-pink-700-value), 1);
  --p-pink-800: hsla(var(--p-pink-800-value), 1);
  --p-pink-900: hsla(var(--p-pink-900-value), 1);
  --p-pink-1000: hsla(var(--p-pink-1000-value), 1);

  --p-gray-100-value: 0, 0%, 95%;
  --p-gray-200-value: 0, 0%, 92%;
  --p-gray-300-value: 0, 0%, 90%;
  --p-gray-400-value: 0, 0%, 92%;
  --p-gray-500-value: 0, 0%, 79%;
  --p-gray-600-value: 0, 0%, 66%;
  --p-gray-700-value: 0, 0%, 56%;
  --p-gray-800-value: 0, 0%, 49%;
  --p-gray-900-value: 0, 0%, 40%;
  --p-gray-1000-value: 0, 0%, 9%;

  --p-blue-100-value: 212, 100%, 97%;
  --p-blue-200-value: 210, 100%, 96%;
  --p-blue-300-value: 210, 100%, 94%;
  --p-blue-400-value: 209, 100%, 90%;
  --p-blue-500-value: 209, 100%, 80%;
  --p-blue-600-value: 208, 100%, 66%;
  --p-blue-700-value: 212, 100%, 48%;
  --p-blue-800-value: 212, 100%, 41%;
  --p-blue-900-value: 211, 100%, 42%;
  --p-blue-1000-value: 211, 100%, 15%;

  --p-red-100-value: 0, 100%, 97%;
  --p-red-200-value: 0, 100%, 96%;
  --p-red-300-value: 0, 100%, 95%;
  --p-red-400-value: 0, 90%, 92%;
  --p-red-500-value: 0, 82%, 85%;
  --p-red-600-value: 359, 90%, 71%;
  --p-red-700-value: 358, 75%, 59%;
  --p-red-800-value: 358, 70%, 52%;
  --p-red-900-value: 358, 66%, 48%;
  --p-red-1000-value: 355, 49%, 15%;

  --p-amber-100-value: 39, 100%, 95%;
  --p-amber-200-value: 44, 100%, 92%;
  --p-amber-300-value: 43, 96%, 90%;
  --p-amber-400-value: 42, 100%, 78%;
  --p-amber-500-value: 38, 100%, 71%;
  --p-amber-600-value: 36, 90%, 62%;
  --p-amber-700-value: 39, 100%, 57%;
  --p-amber-800-value: 35, 100%, 52%;
  --p-amber-900-value: 30, 100%, 32%;
  --p-amber-1000-value: 20, 79%, 17%;

  --p-green-100-value: 120, 60%, 96%;
  --p-green-200-value: 120, 60%, 95%;
  --p-green-300-value: 120, 60%, 91%;
  --p-green-400-value: 122, 60%, 86%;
  --p-green-500-value: 124, 60%, 75%;
  --p-green-600-value: 125, 60%, 64%;
  --p-green-700-value: 131, 41%, 46%;
  --p-green-800-value: 132, 43%, 39%;
  --p-green-900-value: 133, 50%, 32%;
  --p-green-1000-value: 128, 29%, 15%;

  --p-teal-100-value: 169, 70%, 96%;
  --p-teal-200-value: 167, 70%, 94%;
  --p-teal-300-value: 168, 70%, 90%;
  --p-teal-400-value: 170, 70%, 85%;
  --p-teal-500-value: 170, 70%, 72%;
  --p-teal-600-value: 170, 70%, 57%;
  --p-teal-700-value: 173, 80%, 36%;
  --p-teal-800-value: 173, 83%, 30%;
  --p-teal-900-value: 174, 91%, 25%;
  --p-teal-1000-value: 171, 80%, 13%;

  --p-purple-100-value: 276, 100%, 97%;
  --p-purple-200-value: 277, 87%, 97%;
  --p-purple-300-value: 274, 78%, 95%;
  --p-purple-400-value: 276, 71%, 92%;
  --p-purple-500-value: 274, 70%, 82%;
  --p-purple-600-value: 273, 72%, 73%;
  --p-purple-700-value: 272, 51%, 54%;
  --p-purple-800-value: 272, 47%, 45%;
  --p-purple-900-value: 274, 71%, 43%;
  --p-purple-1000-value: 276, 100%, 15%;

  --p-pink-100-value: 330, 100%, 96%;
  --p-pink-200-value: 340, 90%, 96%;
  --p-pink-300-value: 340, 82%, 94%;
  --p-pink-400-value: 341, 76%, 91%;
  --p-pink-500-value: 340, 75%, 84%;
  --p-pink-600-value: 341, 75%, 73%;
  --p-pink-700-value: 336, 80%, 58%;
  --p-pink-800-value: 336, 74%, 51%;
  --p-pink-900-value: 336, 65%, 45%;
  --p-pink-1000-value: 333, 74%, 15%;

  --p-contrast-fg: #fff;
  --p-focus-border: 0 0 0 1px var(--p-gray-alpha-600), 0px 0px 0px 4px rgba(0, 0, 0, .16);
  --p-focus-color: var(--p-blue-700);
}

.dark {
  --p-background-100: #0a0a0a;
  --p-background-200: #000;

  --p-gray-100-value: 0, 0%, 10%;
  --p-gray-200-value: 0, 0%, 12%;
  --p-gray-300-value: 0, 0%, 16%;
  --p-gray-400-value: 0, 0%, 18%;
  --p-gray-500-value: 0, 0%, 27%;
  --p-gray-600-value: 0, 0%, 53%;
  --p-gray-700-value: 0, 0%, 56%;
  --p-gray-800-value: 0, 0%, 49%;
  --p-gray-900-value: 0, 0%, 63%;
  --p-gray-1000-value: 0, 0%, 93%;
  --p-blue-100-value: 216, 50%, 12%;
  --p-blue-200-value: 214, 59%, 15%;
  --p-blue-300-value: 213, 71%, 20%;
  --p-blue-400-value: 212, 78%, 23%;
  --p-blue-500-value: 211, 86%, 27%;
  --p-blue-600-value: 206, 100%, 50%;
  --p-blue-700-value: 212, 100%, 48%;
  --p-blue-800-value: 212, 100%, 41%;
  --p-blue-900-value: 210, 100%, 66%;
  --p-blue-1000-value: 206, 100%, 96%;
  --p-red-100-value: 357, 37%, 12%;
  --p-red-200-value: 357, 46%, 16%;
  --p-red-300-value: 356, 54%, 22%;
  --p-red-400-value: 357, 55%, 26%;
  --p-red-500-value: 357, 60%, 32%;
  --p-red-600-value: 358, 75%, 59%;
  --p-red-700-value: 358, 75%, 59%;
  --p-red-800-value: 358, 69%, 52%;
  --p-red-900-value: 358, 100%, 69%;
  --p-red-1000-value: 353, 90%, 96%;
  --p-amber-100-value: 35, 100%, 8%;
  --p-amber-200-value: 32, 100%, 10%;
  --p-amber-300-value: 33, 100%, 15%;
  --p-amber-400-value: 35, 100%, 17%;
  --p-amber-500-value: 35, 91%, 22%;
  --p-amber-600-value: 39, 85%, 49%;
  --p-amber-700-value: 39, 100%, 57%;
  --p-amber-800-value: 35, 100%, 52%;
  --p-amber-900-value: 39, 90%, 50%;
  --p-amber-1000-value: 40, 94%, 93%;
  --p-green-100-value: 136, 50%, 9%;
  --p-green-200-value: 137, 50%, 12%;
  --p-green-300-value: 136, 50%, 14%;
  --p-green-400-value: 135, 70%, 16%;
  --p-green-500-value: 135, 70%, 23%;
  --p-green-600-value: 135, 70%, 34%;
  --p-green-700-value: 131, 41%, 46%;
  --p-green-800-value: 132, 43%, 39%;
  --p-green-900-value: 131, 43%, 57%;
  --p-green-1000-value: 136, 73%, 94%;
  --p-teal-100-value: 169, 78%, 7%;
  --p-teal-200-value: 170, 74%, 9%;
  --p-teal-300-value: 171, 75%, 13%;
  --p-teal-400-value: 171, 85%, 13%;
  --p-teal-500-value: 172, 85%, 20%;
  --p-teal-600-value: 172, 85%, 32%;
  --p-teal-700-value: 173, 80%, 36%;
  --p-teal-800-value: 173, 83%, 30%;
  --p-teal-900-value: 174, 90%, 41%;
  --p-teal-1000-value: 166, 71%, 93%;
  --p-purple-100-value: 283, 30%, 12%;
  --p-purple-200-value: 281, 38%, 16%;
  --p-purple-300-value: 279, 44%, 23%;
  --p-purple-400-value: 277, 46%, 28%;
  --p-purple-500-value: 274, 49%, 35%;
  --p-purple-600-value: 272, 51%, 54%;
  --p-purple-700-value: 272, 51%, 54%;
  --p-purple-800-value: 272, 47%, 45%;
  --p-purple-900-value: 275, 80%, 71%;
  --p-purple-1000-value: 281, 73%, 96%;
  --p-pink-100-value: 335, 32%, 12%;
  --p-pink-200-value: 335, 43%, 16%;
  --p-pink-300-value: 335, 47%, 21%;
  --p-pink-400-value: 335, 51%, 22%;
  --p-pink-500-value: 335, 57%, 27%;
  --p-pink-600-value: 336, 75%, 40%;
  --p-pink-700-value: 336, 80%, 58%;
  --p-pink-800-value: 336, 74%, 51%;
  --p-pink-900-value: 341, 90%, 67%;
  --p-pink-1000-value: 333, 90%, 96%;
  --p-gray-alpha-100: hsla(0, 0%, 100%, .06);
  --p-gray-alpha-200: hsla(0, 0%, 100%, .09);
  --p-gray-alpha-300: hsla(0, 0%, 100%, .13);
  --p-gray-alpha-400: hsla(0, 0%, 100%, .14);
  --p-gray-alpha-500: hsla(0, 0%, 100%, .24);
  --p-gray-alpha-600: hsla(0, 0%, 100%, .51);
  --p-gray-alpha-700: hsla(0, 0%, 100%, .54);
  --p-gray-alpha-800: hsla(0, 0%, 100%, .47);
  --p-gray-alpha-900: hsla(0, 0%, 100%, .61);
  --p-gray-alpha-1000: hsla(0, 0%, 100%, .92);

  --p-focus-border: 0 0 0 1px var(--p-gray-alpha-600), 0px 0px 0px 4px hsla(0, 0%, 100%, .24);
  --p-focus-color: var(--p-blue-900);
  --p-shadow-border-inset: inset 0 0 0 1px hsla(0, 0%, 100%, .1);
}
