:root {
  --primary-1: #e8fff4;
  --primary-2: #b1f3d4;
  --primary-3: #7ee7ba;
  --primary-4: #50dca4;
  --primary-5: #26d091;
  --primary-6: #00c483;
  --primary-7: #00a674;
  --primary-8: #008864;
  --primary-9: #006a52;
  --primary-10: #004d3d;
  --warning-1: #fffce8;
  --warning-2: #fdf4bf;
  --warning-3: #fce996;
  --warning-4: #fadc6d;
  --warning-5: #f9cc45;
  --warning-6: #f7ba1e;
  --warning-7: #cc9213;
  --warning-8: #a26d0a;
  --warning-9: #774b04;
  --warning-10: #4d2d00;
  --danger-1: #ffece8;
  --danger-2: #ffd2cb;
  --danger-3: #ffb6ae;
  --danger-4: #ff9890;
  --danger-5: #ff7873;
  --danger-6: #ff5656;
  --danger-7: #d2353a;
  --danger-8: #a61c25;
  --danger-9: #790a15;
  --danger-10: #4d000a;
  --white-color: #fff;
  --black-color: #242424;
  --background-color: var(--background-color-dark, var(--white-color));
  --shadow-gray: #f6f6f6;
  --normal-gray: #f2f3f5;
  --border-color: #e4e4e4;
  --border-deep: #e0e0e0;
  --active-color: #dcdcdc;
  --hover-gray: #e8e9e9;
  --mini-padding: 1px 10px;
  --small-padding: 2px 10px;
  --medium-padding: 4px 10px;
  --large-padding: 6px 10px;
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.carbons-transition {
  transition-duration: var(--transition-duration, 0.15s);
  transition-timing-function: var(--transition-timing-function, ease-in-out);
}

/* if setting prefers-reduced-motion: reduced */
@media (prefers-reduced-motion: reduced) {
  .carbons-transition {
    transition-duration: 0s !important;
  }
}

.carbons-mini {
  padding: var(--mini-padding);
  line-height: 1.667;
  font-size: 12px;
}

.carbons-small {
  padding: var(--small-padding);
  line-height: 1.5715;
  font-size: 14px;
}

.carbons-medium {
  padding: var(--medium-padding);
  line-height: 1.5715;
  font-size: 14px;
}

.carbons-large {
  padding: var(--large-padding);
  line-height: 1.8;
  font-size: 16px;
}

.carbons-width-full {
  width: 100%;
}

.carbons-height-full {
  height: 100%;
}

.carbons-inline-flex {
  display: inline-flex;
}

.carbons-vertical-top {
  vertical-align: top;
}

.carbons-vertical-middle {
  vertical-align: middle;
}

.carbons-relative {
  position: relative;
}

.carbons-absolute {
  position: absolute;
}

.carbons-fixed {
  position: fixed;
}

.carbons-hidden {
  display: none;
}

.carbons-pointer-events-none {
  pointer-events: none;
}

.carbons-overflow-hidden {
  overflow: hidden;
}

.carbons-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
