// hover state
@media (any-hover: hover) {
  .c-button {
    &--default:not([disabled]):hover {
      background-color: var(--fill-2);
    }

    &--default-plain:not([disabled]):hover {
      background-color: var(--fill-3);
    }

    &--primary:not([disabled]):hover {
      background-color: var(--primary-5);
    }

    &--primary-plain:not([disabled]):hover {
      background-color: var(--primary-2);
    }

    &--warning:not([disabled]):hover {
      background-color: var(--warning-5);
    }

    &--warning-plain:not([disabled]):hover {
      background-color: var(--warning-2);
    }

    &--danger:not([disabled]):hover {
      background-color: var(--danger-5);
    }

    &--danger-plain:not([disabled]):hover {
      background-color: var(--danger-2);
    }

    // ghost hover
    &--default-ghost:not([disabled]):hover,
    &--primary-ghost:not([disabled]):hover,
    &--warning-ghost:not([disabled]):hover,
    &--danger-ghost:not([disabled]):hover {
      background-color: var(--fill-2);
    }
  }
}

.c-button {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  display: inline-block;
  min-width: 8rem;
  vertical-align: top;
  border: 1px solid transparent;
  outline: var(--focus-width) solid transparent;
  background-color: var(--bg-1);
  transition-property: border-color, background-color, outline-color, outline-offset;
  box-sizing: border-box;
  user-select: none;
  text-align: left;
  border-radius: 0;
  color: var(--color-white);
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--loading {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
  }

  // status styles
  &--default,
  &--default-plain,
  &--default-ghost {
    color: var(--font-1);
  }

  &--default {
    border-color: var(--border-2);
    background-color: var(--bg-1);

    &-plain:not(&-ghost) {
      background-color: var(--fill-2);
      border-color: transparent;
    }

    &-ghost {
      background-color: transparent;
    }
  }

  &--primary {
    background-color: var(--primary-6);

    &-plain:not(&-ghost) {
      background-color: var(--primary-1);
      color: var(--primary-6);
    }

    &-ghost {
      color: var(--primary-6);
    }
  }

  &--warning {
    background-color: var(--warning-6);

    &-plain:not(&-ghost) {
      background-color: var(--warning-1);
      color: var(--warning-6);
    }

    &-ghost {
      color: var(--warning-6);
    }
  }

  &--danger {
    background-color: var(--danger-6);

    &-plain:not(&-ghost) {
      background-color: var(--danger-1);
      color: var(--danger-6);
    }

    &-ghost {
      color: var(--danger-6);
    }
  }

  // active state
  &--default-ghost:not([disabled]):active,
  &--primary-ghost:not([disabled]):active,
  &--warning-ghost:not([disabled]):active,
  &--danger-ghost:not([disabled]):active,
  &--default:not([disabled]):active {
    background-color: var(--fill-3);
  }

  &--default-plain:not([disabled]):active {
    background-color: var(--fill-4);
  }

  &--primary:not([disabled], .c-button--primary-ghost):active {
    background-color: var(--primary-7);
  }

  &--primary-plain:not([disabled], .c-button--primary-ghost):active {
    background-color: var(--primary-3);
  }

  &--warning:not([disabled], .c-button--warning-ghost):active {
    background-color: var(--warning-7);
  }

  &--warning-plain:not([disabled], .c-button--warning-ghost):active {
    background-color: var(--warning-3);
  }

  &--danger:not([disabled], .c-button--danger-ghost):active {
    background-color: var(--danger-7);
  }

  &--danger-plain:not([disabled], .c-button--danger-ghost):active {
    background-color: var(--danger-3);
  }

  &:not(:active):focus-visible {
    outline-offset: var(--focus-offset);
    z-index: 1
  }

  // focus state
  &--default:not(:active):focus-visible,
  &--default-plain:not(:active):focus-visible,
  &--default-ghost:not(:active):focus-visible {
    outline-color: var(--border-2);
  }

  &--primary:not(:active):focus-visible,
  &--primary-plain:not(:active):focus-visible,
  &--primary-ghost:not(:active):focus-visible {
    outline-color: var(--primary-4);
  }

  &--warning:not(:active):focus-visible,
  &--warning-plain:not(:active):focus-visible,
  &--warning-ghost:not(:active):focus-visible {
    outline-color: var(--warning-4);
  }

  &--danger:not(:active):focus-visible,
  &--danger-plain:not(:active):focus-visible,
  &--danger-ghost:not(:active):focus-visible {
    outline-color: var(--danger-4);
  }
}
