.px-input {
  &--prepend {
    box-sizing: inherit;
    border-right: 1px dashed var(--border-2);
  }

  &--append {
    box-sizing: inherit;
    border-left: 1px dashed var(--border-2);
  }
}

@media (any-hover: hover) {
  .px-input--inner:not([disabled], [readonly]):hover {
    background-color: var(--fill-3);
  }
}

.px-input--inner {
  min-width: 8rem;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: var(--fill-2);
  transition-property: border-color, background-color;
  font-family: inherit;
  color: var(--font-1);

  &:not([disabled], [readonly]):focus-visible {
    border-color: var(--primary-6);
    background-color: var(--bg-1);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
