.px-input {
  box-sizing: border-box;
  background-color: var(--fill-2);

  &--prepend {
    margin-right: -1px;
    border-right: 1px solid var(--border-2);
  }

  &--append {
    margin-left: -1px;
    border-left: 1px solid var(--border-2);
  }

  &--clear-icon {
    right: 0;
    top: 0;
    z-index: 2
  }
}

@media (any-hover: hover) {
  .px-input--inner:not([disabled]):hover {
    background-color: var(--fill-3);
  }
}

.px-input--inner {
  min-width: 8rem;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: transparent;
  transition-property: border-color, background-color;
  font-family: inherit;
  color: var(--font-1);

  &:not([disabled]):focus-visible {
    border-color: var(--primary-6);
    background-color: var(--bg-1);
    z-index: 1;

    & + .px-input--clear-icon {
      display: block;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
