@media (any-hover: hover) {
  .px-switch:hover .px-switch--node {
    outline-color: rgba(0 0 0 / 15%)
  }
}

.px-switch {
  width: 2em;
  height: 1em;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--inactive-color, var(--fill-2));
  border: 1px solid var(--border-2);
  outline: var(--focus-width) solid transparent;
  font-size: var(--size, 24px);

  &--node {
    margin: 2px;
    width: calc(1em - 6px);
    height: calc(1em - 6px);
    line-height: 1;
    box-sizing: border-box;
    outline: 5px solid transparent;
    transition-property: transform, border-color, outline-color;
    background-color: var(--color-default, var(--bg-1));
    z-index: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--loading {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
  }

  &[aria-checked="true" i] {
    background-color: var(--active-color, var(--primary-6));

    .px-switch--node {
      transform: translateX(1em);
    }
  }

  &:not(:active):focus-visible {
    outline-offset: var(--focus-offset);
    outline-color: var(--border-2);
    z-index: 1;
  }
}
