body {
  --primary-1: #e8fff4;
  --primary-2: #b1f3d4;
  --primary-3: #7ee7ba;
  --primary-4: #50dca4;
  --primary-5: #26d091;
  --primary-6: #00c483;
  --primary-7: #00a674;
  --primary-8: #008864;
  --primary-9: #006a52;
  --primary-10: #004d3d;

  --warning-1: #fffce8;
  --warning-2: #fdf4bf;
  --warning-3: #fce996;
  --warning-4: #fadc6d;
  --warning-5: #f9cc45;
  --warning-6: #f7ba1e;
  --warning-7: #cc9213;
  --warning-8: #a26d0a;
  --warning-9: #774b04;
  --warning-10: #4d2d00;

  --danger-1: #ffece8;
  --danger-2: #ffd2cb;
  --danger-3: #ffb6ae;
  --danger-4: #ff9890;
  --danger-5: #ff7873;
  --danger-6: #ff5656;
  --danger-7: #d2353a;
  --danger-8: #a61c25;
  --danger-9: #790a15;
  --danger-10: #4d000a;

  // light
  --border-1: #f2f3f5;
  // normal
  --border-2: #e6e8eb;
  // hover
  --border-3: #c9cdd4;
  // deep
  --border-4: #86909c;

  // light
  --fill-1: #f7f8fa;
  // normal
  --fill-2: #f2f3f5;
  // hover
  --fill-3: #e5e6eb;
  // deep
  --fill-4: #c9cdd4;

  // primary
  --font-1: #1d2129;
  // secondary primary
  --font-2: #4e5969;
  // secondary
  --font-3: #86909c;
  // disabled
  --font-4: #c9cdd4;

  // component bg
  --bg-1: #fff;
  // primary bg
  --bg-2: #fff;
  // secondary bg
  --bg-3: #fff;
  // tooltip、dropdown
  --bg-4: #fff;

  --shadow-1: 0 -2px 5px rgba(0 0 0 / 10%);
  --shadow-2: 0 0 10px rgba(0 0 0 / 10%);
  --shadow-3: 0 0 20px rgba(0 0 0 / 10%);
  --shadow-special: 0 0 1px rgba(0 0 0 / 20%);

  --color-white: #fff;
  --size-mini: 1px;
  --size-small: 2px;
  --size-medium: 4px;
  --size-large: 6px;
  --focus-width: 2px;
  --focus-offset: 2px;
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* if setting prefers-reduced-motion: reduced */
@media (prefers-reduced-motion: reduced) {
  body {
    --transition-duration: 0s !important;
  }
}

.carbons {
  &-transition {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &-size {
    &-mini {
      padding: var(--size-mini) 10px;
      line-height: 1.667;
      font-size: 12px;
    }

    &-small {
      padding: var(--size-small) 10px;
      line-height: 1.5715;
      font-size: 14px;
    }

    &-medium {
      padding: var(--size-medium) 10px;
      line-height: 1.5715;
      font-size: 14px;
    }

    &-large {
      padding: var(--size-large) 10px;
      line-height: 1.8;
      font-size: 16px;
    }
  }


  &-width-full {
    width: 100%;
  }

  &-height-full {
    height: 100%;
  }

  &-flex {
    display: flex;
  }

  &-flex-col {
    display: flex;
    flex-direction: column;
  }

  &-items-center {
    align-items: center;
  }

  &-justify-center {
    justify-content: center;
  }

  &-inline-block {
    display: inline-block;
  }

  &-inline-flex {
    display: inline-flex;
  }

  &-vertical-top {
    vertical-align: top;
  }

  &-vertical-middle {
    vertical-align: middle;
  }

  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  &-hidden {
    display: none;
  }

  &-outside {
    position: fixed;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0
  }

  &-cursor-pointer {
    cursor: pointer;
  }

  &-select-none {
    user-select: none;
  }

  &-pointer-events-none {
    pointer-events: none;
  }

  &-overflow-hidden {
    overflow: hidden;
  }

  &-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
