.c-button {
  display: inline-block;
  padding: 0.625rem 0.625rem;
  max-width: 20rem;
  min-width: 8.5rem;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: 3px solid transparent;
  box-sizing: border-box;
  user-select: none;
  text-align: right;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.c-button + .c-button {
  margin-left: 10px;
}

.c-button {
  &--default {
    border-color: var(--color-default, #e6e6e6);
    background-color: var(--color-default, #fff);
    color: #424242;

    &-plain {
      border-color: transparent;
      background-color: var(--color-default, #f2f3f5);
    }
  }

  &--primary {
    background-color: var(--color-primary, #00c483);

    &-plain {
      background-color: var(--color-primary, #e8fff4);
      color: #00c483;
    }
  }

  &--warning {
    background-color: var(--color-warning, #ff7d00);

    &-plain {
      background-color: var(--color-warning-plain, #fff7e8);
      color: #ff7d00;
    }
  }

  &--danger {
    background-color: var(--color-danger, #f53f3f);

    &-plain {
      background-color: var(--color-danger-plain, #ffece8);
      color: #f53f3f;
    }
  }
}

// hover state
@media (any-hover: hover) {
  .c-button {
    &--default:not([disabled]):hover {
      background-color: var(--color-default-hover, #f2f3f5);
    }

    &--default-plain:not([disabled]):hover {
      background-color: var(--color-default-hover, #e8e9e9);
    }

    &--primary:not([disabled]):hover {
      background-color: var(--color-primary-hover, #26d091);
    }

    &--primary-plain:not([disabled]):hover {
      background-color: var(--color-primary-hover, #adedd1);
    }

    &--warning:not([disabled]):hover {
      background-color: var(--color-warning-hover, #ff9a2e);
    }

    &--warning-plain:not([disabled]):hover {
      background-color: var(--color-warning-plain-hover, #ffe4ba);
    }

    &--danger:not([disabled]):hover {
      background-color: var(--color-danger-hover, #f76560);
    }

    &--danger-plain:not([disabled]):hover {
      background-color: var(--color-danger-plain-hover, #fdcdc5);
    }
  }
}

// active state
.c-button {
  &--default:not([disabled]):active,
  &--default-plain:not([disabled]):active {
    background-color: var(--color-primary-active, #dadada);
  }

  &--primary:not([disabled]):active {
    background-color: var(--color-primary-active, #00a674);
  }

  &--primary-plain:not([disabled]):active {
    background-color: var(--color-primary-active, #78dbb4);
  }

  &--warning:not([disabled]):active {
    background-color: var(--color-warning-active, #d25f00);
  }

  &--warning-plain:not([disabled]):active {
    background-color: var(--color-warning-plain-active, #ffcf8b);
  }

  &--danger:not([disabled]):active {
    background-color: var(--color-danger-active, #cb272d);
  }

  &--danger-plain:not([disabled]):active {
    background-color: var(--color-warning-plain-active, #fbaca3);
  }
}

// focus state
.c-button {
  &--default:focus {
    outline-color: var(--color-focus, #e0e0e0);
  }

  &--primary:focus {
    outline-color: var(--color-focus, #26d091);
  }

  &--warning:focus {
    outline-color: var(--color-focus, #ff9a2e);
  }

  &--danger:focus {
    outline-color: var(--color-focus, #f76560);
  }
}

// disabled state
.c-button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
