@import 'tailwindcss';
@import '../../../../src/styles/tw.css';
@source '..';
@source '../../../../src';
@source '../../node_modules/markdown-it-plugins';

@theme {
  --breakpoint-xs: 23rem;
  --default-mono-font-family:
    'Geist Mono', 'JetBrains Mono', 'MonoLisa', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@view-transition {
  navigation: auto;
}

:root {
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}

html {
  scroll-padding-top: 60px;
}

html:has(:is(h1, h2, h3, h4):hover) {
  scroll-behavior: smooth;
}

:not(pre) > code {
  font-size: 0.875rem;
  margin-right: 0.22em;
  padding: 0.15em 0.5em;
  border-radius: 0.25em;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  word-break: break-all;
}

p a {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 500;
}
