@import "tailwindcss";
@import "../../node_modules/pxd/dist/styles/tw.css";
@source "../../node_modules/pxd";

@theme {
  --font-sans: 'Inter', sans-serif;
  --default-mono-font-family: 'MonoLisa', 'Geist Mono', 'JetBrains Mono', monospace;
}

:root {
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html,
body,
#app {
  @apply h-full;
}

.pxd-link-button.router-link-exact-active {
  background-color: var(--color-background);
  pointer-events: none;
}

.pxd-link-button.router-link-exact-active:not(:hover) {
  transition: none
}
