@import "tailwindcss";
@import "../../node_modules/pxd/dist/styles/tw.css";
@source "../../node_modules/pxd";
@source "../../node_modules/markdown-it-plugins";

@theme {
  --font-sans: 'Inter', 'Geist', sans-serif;
  --default-mono-font-family: 'Geist Mono', 'JetBrains Mono', 'MonoLisa', monospace;
}

:root {
  font-family: var(--font-sans);
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body,
#app {
  @apply h-full;
}

:is(header, .sidebar) .pxd-link-button.router-link-active {
  background-color: var(--color-background);
}

::selection {
  background-color: var(--color-green-400);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
