.c-input__inner {
  min-width: 8.5rem;
  border-radius: 0;
  outline: none;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -2px;
  background-color: var(--input-background-color, var(--shadow-gray));
  transition-property: border-color, background-color, outline-color;
  font-family: inherit;

  &:not([disabled]):not([readonly]):hover {
    background-color: var(--input-background-color-hover, var(--hover-gray))
  }

  &:not([disabled]):not([readonly]):focus {
    border-color: var(--color-primary-focus, var(--primary-5));
    outline-color: var(--color-primary-focus, var(--primary-5));
    background-color: var(--input-background-color-focus, var(--white-color));
  }

  &::placeholder {
    color: #b6b6b6
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
